openapi: 3.2.0
info:
  title: Twenty Metadata Relations API
  description: The Twenty Metadata API provides REST endpoints for programmatic schema management, allowing developers to create, update, and delete custom objects, fields, and relations within a workspace.
  version: v0.1
  contact:
    email: felix@twenty.com
  license:
    name: AGPL-3.0
    url: https://github.com/twentyhq/twenty?tab=License-1-ov-file#readme
  termsOfService: https://github.com/twentyhq/twenty?tab=coc-ov-file#readme
servers:
- url: https://api.twenty.com/rest/metadata
  description: Production
security:
- bearerAuth: []
tags:
- name: Relations
  description: Custom relation metadata management
paths:
  /relations:
    get:
      tags:
      - Relations
      summary: Find Many Relations
      operationId: findManyRelations
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/startingAfter'
      - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationMetadataListResponse'
        '401':
          $ref: '#/components/responses/401'
    post:
      tags:
      - Relations
      summary: Create One Relation
      description: Creates a relation between two objects.
      operationId: createOneRelation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationMetadataInput'
      responses:
        '201':
          description: Relation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationMetadataResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  /relations/{id}:
    parameters:
    - $ref: '#/components/parameters/id'
    delete:
      tags:
      - Relations
      summary: Delete One Relation
      operationId: deleteOneRelation
      responses:
        '200':
          description: Relation deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/401'
components:
  schemas:
    RelationMetadataListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            relations:
              type: object
              properties:
                edges:
                  type: array
                  items:
                    type: object
                    properties:
                      node:
                        $ref: '#/components/schemas/RelationMetadata'
                      cursor:
                        type: string
                pageInfo:
                  $ref: '#/components/schemas/PageInfo'
                totalCount:
                  type: integer
    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
        messages:
          type: array
          items:
            type: string
        error:
          type: string
    RelationMetadataInput:
      type: object
      required:
      - relationType
      - fromObjectMetadataId
      - toObjectMetadataId
      - fromName
      - fromLabel
      - toName
      - toLabel
      properties:
        relationType:
          type: string
          enum:
          - ONE_TO_MANY
          - MANY_TO_ONE
          - ONE_TO_ONE
        fromObjectMetadataId:
          type: string
          format: uuid
        toObjectMetadataId:
          type: string
          format: uuid
        fromName:
          type: string
        fromLabel:
          type: string
        toName:
          type: string
        toLabel:
          type: string
        fromIcon:
          type: string
        toIcon:
          type: string
    PageInfo:
      type: object
      properties:
        hasNextPage:
          type: boolean
        hasPreviousPage:
          type: boolean
        startCursor:
          type:
          - string
          - 'null'
        endCursor:
          type:
          - string
          - 'null'
    RelationMetadataResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            relation:
              $ref: '#/components/schemas/RelationMetadata'
    DeleteResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
    RelationMetadata:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        relationType:
          type: string
          enum:
          - ONE_TO_MANY
          - MANY_TO_ONE
          - ONE_TO_ONE
        fromObjectMetadataId:
          type: string
          format: uuid
        toObjectMetadataId:
          type: string
          format: uuid
        fromFieldMetadataId:
          type: string
          format: uuid
        toFieldMetadataId:
          type: string
          format: uuid
  parameters:
    filter:
      name: filter
      in: query
      required: false
      description: Filter expression
      schema:
        type: string
    endingBefore:
      name: ending_before
      in: query
      required: false
      description: Cursor for backward pagination
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: Maximum number of records to return (default 1000)
      schema:
        type: integer
        minimum: 0
        maximum: 1000
        default: 1000
    startingAfter:
      name: starting_after
      in: query
      required: false
      description: Cursor for forward pagination
      schema:
        type: string
    id:
      name: id
      in: path
      required: true
      description: Object UUID
      schema:
        type: string
        format: uuid
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 403
            messages:
            - Missing authentication token
            error: FORBIDDEN_EXCEPTION
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Workspace-scoped Bearer token. Generate from Settings → Playground in your Twenty workspace.

        '
externalDocs:
  description: Twenty Developer Documentation
  url: https://docs.twenty.com/developers/extend/api
