openapi: 3.2.0
info:
  title: Twenty Openapi API
  version: v0.1
  contact:
    email: felix@twenty.com
  license:
    name: AGPL-3.0
    url: https://github.com/twentyhq/twenty?tab=License-1-ov-file#readme
  termsOfService: https://github.com/twentyhq/twenty?tab=coc-ov-file#readme
  description: 'Operations tagged openapi across 2 of this provider''s published API definitions: twenty-core-api-openapi.yml, twenty-metadata-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.twenty.com/rest/core
  description: Production
- url: https://api.twenty.com/rest/metadata
  description: Production
security:
- bearerAuth: []
tags:
- name: Open API
  description: OpenAPI schema discovery
paths:
  /open-api/core:
    get:
      tags:
      - Open API
      summary: Get Core OpenAPI Schema
      description: Returns the full workspace-specific OpenAPI schema for the core API, including all standard and custom objects. Requires authentication.
      operationId: getCoreOpenApiSchema
      servers:
      - url: https://api.twenty.com
      responses:
        '200':
          description: OpenAPI document
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
    servers:
    - url: https://api.twenty.com/rest/core
      description: Production
  /open-api/metadata:
    get:
      tags:
      - Open API
      summary: Get Metadata OpenAPI Schema
      description: Returns the full workspace-specific OpenAPI schema for the metadata API. Without authentication returns a skeleton schema. Requires Bearer token for the full schema with all custom object/field definitions.
      operationId: getMetadataOpenApiSchema
      servers:
      - url: https://api.twenty.com
      security: []
      responses:
        '200':
          description: OpenAPI document
          content:
            application/json:
              schema:
                type: object
    servers:
    - url: https://api.twenty.com/rest/metadata
      description: Production
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
        messages:
          type: array
          items:
            type: string
        error:
          type: string
  responses:
    '401':
      description: Unauthorized - missing or invalid Bearer token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 403
            messages:
            - Missing authentication token
            error: FORBIDDEN_EXCEPTION
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Workspace-scoped Bearer token. Generate from Settings → Playground in your Twenty workspace.

        '
externalDocs:
  description: Twenty Developer Documentation
  url: https://docs.twenty.com/developers/extend/api
x-refined-from:
- twenty-core-api-openapi.yml
- twenty-metadata-api-openapi.yml
