openapi: 3.2.0
info:
  title: Twenty Core People API
  description: The Twenty Core API provides REST endpoints for CRUD operations on all CRM records including companies, people, opportunities, notes, tasks, and any custom objects defined in a workspace.
  version: v0.1
  contact:
    email: felix@twenty.com
  license:
    name: AGPL-3.0
    url: https://github.com/twentyhq/twenty?tab=License-1-ov-file#readme
  termsOfService: https://github.com/twentyhq/twenty?tab=coc-ov-file#readme
servers:
- url: https://api.twenty.com/rest/core
  description: Production
security:
- bearerAuth: []
tags:
- name: People
  description: Person/contact CRM records
paths:
  /people:
    get:
      tags:
      - People
      summary: Find Many People
      operationId: findManyPeople
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/orderBy'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/depth'
      - $ref: '#/components/parameters/startingAfter'
      - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonListResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
    post:
      tags:
      - People
      summary: Create One Person
      operationId: createOnePerson
      parameters:
      - $ref: '#/components/parameters/depth'
      - $ref: '#/components/parameters/upsert'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonInput'
            example:
              name:
                firstName: Jane
                lastName: Smith
              emails:
                primaryEmail: jane.smith@example.com
              phones:
                primaryPhoneNumber: '+15555550100'
                primaryPhoneCountryCode: US
              jobTitle: VP of Engineering
      responses:
        '201':
          description: Person created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  /batch/people:
    post:
      tags:
      - People
      summary: Create Many People
      operationId: createManyPeople
      parameters:
      - $ref: '#/components/parameters/depth'
      - $ref: '#/components/parameters/upsert'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PersonInput'
              maxItems: 60
      responses:
        '201':
          description: People created
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
  /people/{id}:
    parameters:
    - $ref: '#/components/parameters/id'
    get:
      tags:
      - People
      summary: Find One Person
      operationId: findOnePerson
      parameters:
      - $ref: '#/components/parameters/depth'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
    patch:
      tags:
      - People
      summary: Update One Person
      operationId: updateOnePerson
      parameters:
      - $ref: '#/components/parameters/depth'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonInput'
      responses:
        '200':
          description: Person updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
    delete:
      tags:
      - People
      summary: Delete One Person
      operationId: deleteOnePerson
      responses:
        '200':
          description: Person deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
components:
  schemas:
    PersonResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            person:
              $ref: '#/components/schemas/Person'
    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
        messages:
          type: array
          items:
            type: string
        error:
          type: string
    PersonListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            people:
              type: object
              properties:
                edges:
                  type: array
                  items:
                    type: object
                    properties:
                      node:
                        $ref: '#/components/schemas/Person'
                      cursor:
                        type: string
                pageInfo:
                  $ref: '#/components/schemas/PageInfo'
                totalCount:
                  type: integer
    PageInfo:
      type: object
      properties:
        hasNextPage:
          type: boolean
        hasPreviousPage:
          type: boolean
        startCursor:
          type:
          - string
          - 'null'
        endCursor:
          type:
          - string
          - 'null'
    LinksMetadata:
      type: object
      description: Link with a primary URL and optional label
      properties:
        primaryLinkUrl:
          type:
          - string
          - 'null'
          format: uri
        primaryLinkLabel:
          type:
          - string
          - 'null'
        secondaryLinks:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
              label:
                type: string
    PersonInput:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/FullNameMetadata'
        emails:
          $ref: '#/components/schemas/EmailsMetadata'
        phones:
          $ref: '#/components/schemas/PhonesMetadata'
        jobTitle:
          type: string
        linkedinLink:
          $ref: '#/components/schemas/LinksMetadata'
        companyId:
          type:
          - string
          - 'null'
          format: uuid
    PhonesMetadata:
      type: object
      description: Phone numbers
      properties:
        primaryPhoneNumber:
          type:
          - string
          - 'null'
        primaryPhoneCountryCode:
          type:
          - string
          - 'null'
        primaryPhoneCallingCode:
          type:
          - string
          - 'null'
        additionalPhones:
          type:
          - array
          - 'null'
          items:
            type: object
    EmailsMetadata:
      type: object
      description: Email addresses
      properties:
        primaryEmail:
          type:
          - string
          - 'null'
          format: email
        additionalEmails:
          type:
          - array
          - 'null'
          items:
            type: string
            format: email
    ActorMetadata:
      type: object
      description: Record of who created or last updated an object
      properties:
        source:
          type: string
          enum:
          - EMAIL
          - CALENDAR
          - API
          - IMPORT
          - MANUAL
          - SYSTEM
          - WORKFLOW
          - WEBHOOK
        workspaceMemberId:
          type:
          - string
          - 'null'
          format: uuid
        name:
          type:
          - string
          - 'null'
        context:
          type:
          - object
          - 'null'
    DeleteResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
    Person:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        name:
          allOf:
          - $ref: '#/components/schemas/FullNameMetadata'
        emails:
          $ref: '#/components/schemas/EmailsMetadata'
        phones:
          $ref: '#/components/schemas/PhonesMetadata'
        jobTitle:
          type:
          - string
          - 'null'
        linkedinLink:
          allOf:
          - $ref: '#/components/schemas/LinksMetadata'
        position:
          type: number
        companyId:
          type:
          - string
          - 'null'
          format: uuid
        createdBy:
          $ref: '#/components/schemas/ActorMetadata'
        updatedBy:
          $ref: '#/components/schemas/ActorMetadata'
    FullNameMetadata:
      type: object
      description: Person full name
      properties:
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
  parameters:
    orderBy:
      name: order_by
      in: query
      required: false
      description: 'Ordering. Format: field1,field2[DIRECTION]. Directions: AscNullsFirst, AscNullsLast, DescNullsFirst, DescNullsLast.

        '
      schema:
        type: string
      examples:
        simple:
          value: createdAt
        complex:
          value: id[AscNullsFirst],createdAt[DescNullsLast]
    id:
      name: id
      in: path
      required: true
      description: Object UUID
      schema:
        type: string
        format: uuid
    upsert:
      name: upsert
      in: query
      required: false
      description: If true, creates or updates if record already exists.
      schema:
        type: boolean
        default: false
    endingBefore:
      name: ending_before
      in: query
      required: false
      description: Cursor for backward pagination (use startCursor from current response).
      schema:
        type: string
    startingAfter:
      name: starting_after
      in: query
      required: false
      description: Cursor for forward pagination (use endCursor from previous response).
      schema:
        type: string
    depth:
      name: depth
      in: query
      required: false
      description: 'Depth of nested relations to include. 0 = primary object only; 1 = primary object + direct relations.

        '
      schema:
        type: integer
        enum:
        - 0
        - 1
        default: 1
    filter:
      name: filter
      in: query
      required: false
      description: 'Filter expression. Format: field[COMPARATOR]:value. Multiple conditions separated by comma (AND). Supports eq, neq, in, is, gt, gte, lt, lte, like, ilike, startsWith, containsAny. Composable with and(), or(), not().

        '
      schema:
        type: string
      examples:
        simple:
          value: name[eq]:"Acme"
        dateRange:
          value: createdAt[gte]:"2024-01-01"
        composite:
          value: emails.primaryEmail[eq]:foo@example.com
        logical:
          value: or(stage[eq]:"NEW",stage[eq]:"IN_PROGRESS")
    limit:
      name: limit
      in: query
      required: false
      description: Maximum number of records to return (default 60, max 60).
      schema:
        type: integer
        minimum: 0
        maximum: 60
        default: 60
  responses:
    '401':
      description: Unauthorized - missing or invalid Bearer token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 403
            messages:
            - Missing authentication token
            error: FORBIDDEN_EXCEPTION
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Workspace-scoped Bearer token. Generate from Settings → Playground in your Twenty workspace.

        '
externalDocs:
  description: Twenty Developer Documentation
  url: https://docs.twenty.com/developers/extend/api
